<?php

namespace App\Http\Transformers;

use Agunbuhori\Response\Transformer;

class {name} extends Transformer
{
    public function transform({model} {data})
    {
        return [
            'id' => {data}->id
        ];
    }
}